* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #07553B;
    --accent-color: #CED46A;
    --text-color: #333333;
    --light-bg-color: #FAFAF9;
    --card-bg-color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    background-color: aliceblue;
}